body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.modal-wrapper {
  align-items: center;
  background-color: rgba(255,355,255, .98);
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  position: fixed;
  transition: all 700ms cubic-bezier(0.645, 0.045, 0.355, 1);
  visibility: hidden;
  width: 100vw;
  z-index: 10;
}

.modal-wrapper.--opened {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0, 0.15);
  padding: 50px;
  transform: translateY(150px);
  transition: all 700ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.modal-wrapper.--opened .modal-container {
  transform: translateY(0);
}


.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content button {
  margin-top: 30px;
}

button {
  background-color: #50a2e2;
  border: 0;
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  outline: 0;
  padding: 10px 30px;
  text-align: center;
}

button:hover {
  opacity: .85;
}